.card{
  width: 200px;
  margin-right: "10px";
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;
}


.card :hover {
  transform: translateY(-8px);
}
.sb-container{
  display: flex;
  width: 300px;
  align-items: start;
  justify-content: start;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.searchBar{
  flex: 1;
  
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

.searchButton{
  background-color: green;
  color:#fff;
  border-radius: 8px;
  border: none;
  padding: 10px;
}
